.footer {
    line-height: 3;
    width: 100%;
    text-align: center;
    position: fixed;
    color: whitesmoke;
    background-color: grey;
    bottom: 0;
}

canvas{
border: 5px solid whitesmoke;
border-radius: 20px;
box-shadow: 5px 5px 5px grey;
}

.heading{
    margin: 0px;
    font-size: 23px;
    box-shadow: 5px 5px 5px whitesmoke;
    width: 100%;
}

.note{
    font-size: 15px;
    color: whitesmoke;
}